body {
  box-sizing: border-box;
  margin: 0px 0px 0px 0px;
  /* font-family: 'Anton', sans-serif;
    font-family: 'Cabin', sans-serif; */
  background-color: rgb(73, 59, 155);
}
.container {
  max-width: 500px;
  margin: 0 auto;
}
.page {
}
.todo {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.todo_paddind-20px {
  padding-top: 20px;
}
.todo__title {
  margin: 0px 0px 0px 0px;
  margin-bottom: 20px;
  text-align: center;
  font-family: "Anton", sans-serif;
  font-weight: 900;
  /* font-family: 'Cabin', sans-serif; */
}
.todo__inputs {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 10px;
  max-width: 500px;
  width: 100%;
  height: auto;
}
.todo__input {
  font-size: 16px;
  padding-left: 5px;
  max-width: 350px;
  width: 100%;
  height: 40px;
  background-color: rgba(55, 47, 97, 0.942);
  border: none;
  border-radius: 2px;
  color: white;
}
.todo__lists {
  max-width: 500px;
  margin: 0px 0px 0px 0px;
  margin-top: 25px;
}
.todo__list {
  max-width: 100%;
  width: 100%;
  margin-left: 11px;
  /* height: 45px; */
  background-color: rgba(55, 47, 97, 0.942);
  border-radius: 1px;
  list-style: none;
  margin-top: 3px;
  color: white;
  font-family: "Cabin", sans-serif;
  padding-top: 13px;
  padding-bottom: 13px;
  font-size: 18px;
  padding-left: 5px;
  font-weight: normal;
}
