body {
  box-sizing: border-box;
  margin: 0px 0px 0px 0px;
  /* font-family: 'Anton', sans-serif;
    font-family: 'Cabin', sans-serif; */
  background-color: rgb(73, 59, 155);
}
.container {
  max-width: 500px;
  margin: 0 auto;
}
.page {
}
.todo {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.todo_paddind-20px {
  padding-top: 20px;
}
.todo__title {
  margin: 0px 0px 0px 0px;
  margin-bottom: 20px;
  text-align: center;
  font-family: 'Kanit', sans-serif;
  font-weight: 900;
  color: white;
  /* font-family: 'Cabin', sans-serif; */
}
.todo__inputs {
  display: flex;
  flex-direction: row;
  align-items: center;
  /* gap: 10px; */
  justify-content: space-between ;
  max-width: 400px;
  width: 100%;
  height: auto;
}
.todo__input {
  font-size: 16px;
  padding-left: 5px;
  max-width: 350px;
  width: 80%;
  /* width: 100%; */
  height: 40px;
  background-color: rgba(55, 47, 97, 0.942);
  border: none;
  border-radius: 2px;
  color: white;
  border-radius: 5px;
}
.todo__botton{
  cursor: pointer;
  width: 30px;
  height: 40px;


}
.todo__lists {
  max-width: 400px;
  width: 100%;
  margin: 0px 0px 0px 0px;
  margin-top: 25px;


}
/* --- */
.todo__list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 370px;
  align-items: center;
  
  /* height: 45px; */
  background-color: rgba(55, 47, 97, 0.942);
  border-radius: 1px;
  list-style: none;
  margin-top: 3px;
  color: white;
  font-family: 'Kanit', sans-serif;
  padding: 10px 15px;
  font-size: 18px;
 
  font-weight: normal;
  border-radius: 5px;
}


.todo__lists-active{
  background-color: green;
  opacity: 60%;
}

.todo__list-title{
  margin: 0px 0px 0px 0px;
  text-overflow: ellipsis;
  max-width: 300px;
  width: 100%;
  overflow:auto;
}

/* =============dellBtn============= */

.todo__btn_wich_del{
  display: block;
  cursor: pointer;
  width: 40px;
  height: 30px;
  background-image: url('./images/delete.png');
  background-repeat: no-repeat;
  border-radius: 5px;
  border:none;
  background-size: 100%;
  background-position: center;
}
.todo__btn_wich_del:hover{
  opacity: 60%;
  transition: .5s all ease;
}

/* ==========btn icons============= */
.todo__botton-logo_place_input{
  background-image: url('./images/delivery-box.png');
  background-repeat: no-repeat;
  display: block;
  width: 30px;
  height: 40px;
  padding-left: 20px;
  background-size: 100%;
  background-position: center;
}

.todo__botton-logo_place_input:hover{
  opacity: 60%;
  transition: 0.5s all ease;
}

/* task bnt */

.todo__list-btns{
  z-index: 2;
  display: flex;
}


/* ===================checkbox============ */
.todo__checkgox{
  cursor:pointer;
  max-width: 20px;
  width: 100%;
  outline: none;
  border: none;
}



/* media */


@media screen and (max-width:420px) {
  .todo{
    padding-left: 10px;
    padding-right: 10px;
  }

}